.event-card-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 5vw;

  background-color: $color-white;
  color: $color-primary-1;

  .event-title-container {
    width: 100%;
    padding-bottom: 30px;
    p {
      font-size: 36px;
      line-height: 36px;
    }
  }

  p {
    max-width: 680px;
  }

  .btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 120px;

    .btn {
      margin-right: 24px;
    }
  }
  .hr-container {
    padding: 0 5vw;
    width: 100vw;
  }
}

.event-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
