.main {
  .container {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: $color-primary-2;
    color: $color-white;

    &.white {
      background-color: transparent;
      color: $color-black;
    }

    .title-container {
      padding-bottom: 48px;
    }

    p {
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      line-height: 24px;
    }

    a {
      font: inherit;
      color: inherit;
    }
  }
}
