.me {
  h2 {
    padding-bottom: 5px;

    &.margin-left {
      margin-left: 4vw;
    }
  }

  .data-container {
    width: 100vw;
    margin: 0 4vw;
    height: 20vh;
    position: absolute;
    top: $header-height;
  }

  .trip-feed-container {
    padding-top: 40vh;
  }
}
