.status-card {
  position: fixed;
  top: $header-height;
  right: 4vw;
  width: 15vw;
  margin-top: 2vh;
  padding-left: 20px;

  // background-color: $color-white;

  .status-container {
    display: flex;
    flex-direction: column;

    .status-item {
      display: flex;
      justify-content: space-between;
    }
  }

  .btn-container {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
