//
// GLOBAL SETTINGS

/* -------------------------------- VARIABLES ------------------------------- */
@import 'setup/variables';
@import 'setup/typography';

/* --------------------------------- BASICS --------------------------------- */
@import 'basics/button';
@import 'basics/modal';
@import 'basics/input';

/* ------------------------------- COMPONENTS ------------------------------- */
// === CARDS ===
@import 'components/title-card';
@import 'components/trip-card';
@import 'components/status-card';
@import 'components/event-card';

// === TABLE ===
@import 'components/trip-data-table';

// === FORMS ===
@import 'components/user-profile';
@import 'components/auth-form';
@import 'components/trip-post-form';
@import 'components/add-trip-form';

// === CONTAINERS ===
@import 'components/text-container';
@import 'components/trip-feed-container';

/* --------------------------------- LAYOUT --------------------------------- */
@import 'layout/footer';
@import 'layout/header';
@import 'layout/lost-guide';
@import 'layout/pin-background';
@import 'layout/layout';

/* ---------------------------------- VIEWS --------------------------------- */
@import 'views/main';
@import 'views/me';
@import 'views/events';
@import 'views/team';
@import 'views/personal-vis';

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: $color-white;
  background-color: $color-primary-1;
}

html,
body,
textarea,
select,
input,
button {
  font-family: $font-main;
  line-height: 100%;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  scroll-behavior: smooth;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-height: 500px) {
    height: inherit;
  }
}

body {
  margin-top: $header-height;
}

// TODO: HOW TO applied when modal is visible
.stop-scrolling {
  overflow: hidden;
}
